@font-face {
  font-family: "iconfont"; /* Project id 3056168 */
  src: url('iconfont.woff2?t=1640830962888') format('woff2'),
       url('iconfont.woff?t=1640830962888') format('woff'),
       url('iconfont.ttf?t=1640830962888') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangpica1:before {
  content: "\e614";
}

.icon-eraser:before {
  content: "\e602";
}

.icon-shanchu:before {
  content: "\e600";
}

.icon-xiazai:before {
  content: "\e601";
}

.icon-diaoseban:before {
  content: "\e718";
}

.icon-chexiao:before {
  content: "\e6e2";
}

.icon-bicuxi:before {
  content: "\e652";
}

.icon-xianduan:before {
  content: "\e619";
}

.icon-xiangpica:before {
  content: "\e638";
}

.icon--yingguangbi:before {
  content: "\e63e";
}

.icon-pencil-full:before {
  content: "\ea14";
}

.icon-yingguangbi:before {
  content: "\e603";
}

.icon-cuxi:before {
  content: "\e734";
}

.icon-tiaoseban:before {
  content: "\e639";
}

